# =========================================================
# DATASETS
# =========================================================

train_audio/
train_soundscapes/
test_soundscapes/

*.ogg
*.wav
*.mp3

# =========================================================
# LARGE CACHED FILES
# =========================================================

spectrogram_cache/
soundscape_cache/

*.npy

# =========================================================
# CHECKPOINTS
# =========================================================

checkpoints/*.pth
checkpoints/*.pt

# =========================================================
# KAGGLE
# =========================================================

kaggle.json

# =========================================================
# PYTHON
# =========================================================

__pycache__/
*.pyc

# =========================================================
# JUPYTER
# =========================================================

.ipynb_checkpoints/

# =========================================================
# OS FILES
# =========================================================

.DS_Store
Thumbs.db